<section
  style="
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/90.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  "
>
  <!-- Mask & flexbox options-->
  <div class="mask d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="container my-5">
      <h1 class="font-weight-bold text-center white-text pb-2">Check data</h1>

      <!--Grid row-->
      <div class="row d-flex align-items-center justify-content-center">
        <!--Grid column-->
        <div class="col-md-10 col-xl-10">
          <!--Form-->

          <div class="card" *ngIf="currentUser; else loggedOut">
            <div class="card-body z-depth-2 px-4" *ngIf="currUser" >
              <form>
                <div class="row mt-4">
                <div class= "col-md-6">
                  <mat-list>
                    <mat-list-item>
                      <label for="name" class="col-4 col-form-label">Name:</label>
                      <div class="col-8">
                        <div *ngIf="currUser.nameUser"> {{ currUser.nameUser }} </div>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <label for="surname" class="col-4 col-form-label"
                        >Surname:</label
                      >
                      <div class="col-8">
                        <div *ngIf="currUser.surname"> {{ currUser.surname }} </div>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <label for="email" class="col-4 col-form-label"
                        >Email:</label
                      >
                      <div class="col-8">
                      <div *ngIf="currentUser.email"> {{ currentUser.email }} </div>

                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <label for="passport" class="col-4 col-form-label"
                        >Passport/ ID:</label
                      >
                      <div class="col-8">
                        <div *ngIf="currUser.idPassport"> {{ currUser.idPassport }} </div>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item>
                      <label for="esn_card" class="col-4 col-form-label"
                        >ESN Card Number:</label
                      >
                      <div class="col-8">
                        <div *ngIf="currUser.cardNum"> {{ currUser.cardNum }} </div>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item>
                      <label for="gender" class="col-4 col-form-label"
                        >Gender:</label
                      >
                      <div class="col-8">
                        <div *ngIf="currUser.sex"> {{ currUser.sex }} </div>


                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item>
                      <label for="phone_num" class="col-4 col-form-label"
                        >Phone Number:</label
                      >
                      <div class="col-8">
                        <div *ngIf="currUser.phoneNum">{{currUser.phoneNum}} </div>
                      </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item>
                      <label for="country" class="col-4 col-form-label"
                        >Country:</label
                      >
                      <div class="col-8">
                        <div *ngIf="currUser.nationality!=null">{{currUser.nationality.country}}</div>

                      </div>
                    </mat-list-item>
                  </mat-list>

                  </div>

                  <div class ="col-md-6">
                    <mat-list>
                      <mat-list-item>
                        <label for="nameE" class="col-4 col-form-label">Name:</label>
                        <div class="col-8">
                          <div *ngIf="event.nameEvent"> {{ event.nameEvent }} </div>
                        </div>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <label for="dateStart" class="col-4 col-form-label"
                          >From:</label
                        >
                        <div class="col-8">
                          <div *ngIf="event.dateStart"> {{ event.dateStart | date :"dd/MM/yyyy" }} </div>

                        </div>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <label for="dateEnd" class="col-4 col-form-label"
                          >To:</label
                        >
                        <div class="col-8">
                          <div *ngIf="event.dateEnd"> {{ event.dateEnd | date :"dd/MM/yyyy" }} </div>

                        </div>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <label for="price" class="col-4 col-form-label"
                          >Price:</label
                        >
                        <div class="col-8">

                        </div>
                      </mat-list-item>
                      <mat-divider></mat-divider>

                      <mat-list-item>
                        <label for="meetingPlace" class="col-4 col-form-label"
                          >Meeting Place:</label
                        >
                        <div class="col-8">
                          <div *ngIf="event.meetingPlace"> {{ event.meetingPlace}} </div>

                        </div>
                      </mat-list-item>
                      <mat-divider></mat-divider>

                      <mat-list-item>
                        <label for="included" class="col-4 col-form-label"
                          >Included:</label
                        >
                        <div class="col-8">
                          <div *ngIf="event.included"> {{ event.included}} </div>

                        </div>
                      </mat-list-item>
                      <mat-divider></mat-divider>

                      <mat-list-item>
                        <label for="not_inc" class="col-4 col-form-label"
                          >Not included:</label
                        >
                        <div class="col-8">
                          <div *ngIf="event.notIncluded"> {{ event.notIncluded}} </div>
                        </div>
                      </mat-list-item>
                    </mat-list>

                  </div>
                </div>
                <div class="text-right my-3">
                  <button
                    class="btn btn-dark btn mr-2"
                    onclick="window.location.href='/formular-data'"
                  >
                    Edit data
                  </button>

                    <button
                      class="btn btn-success btn"
                      (click)="openDialog()"
                    >
                      Sign Up!
                    </button>
                    </div>
              </form>

            </div>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
</section>

<ng-template #loggedOut> Please login. </ng-template>
