.carousel-multi-item.v-2 .carousel-inner .carousel-item.active,
                .carousel-multi-item.v-2 .carousel-item-next,
                .carousel-multi-item.v-2 .carousel-item-prev {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
}

                .carousel-multi-item.v-2 .carousel-item-right.active,
                .carousel-multi-item.v-2 .carousel-item-next {
                  -webkit-transform: translateX(50%);
                  -ms-transform: translateX(50%);
                  transform: translateX(50%);
}
                .carousel-multi-item.v-2 .carousel-item-left.active,
                .carousel-multi-item.v-2 .carousel-item-prev {
                  -webkit-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
}

                .carousel-multi-item.v-2 .carousel-item-right,
                .carousel-multi-item.v-2 .carousel-item-left {
                  -webkit-transform: translateX(0);
                  -ms-transform: translateX(0);
                  transform: translateX(0);
}



.container-fluid .btn {
  position: absolute;
  top: 85%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
}
