
<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container my-5">


        <!--Section: Content-->
        <section class="text-center dark-grey-text">

          <div class="row">
            <div class="col-md-12">

              <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">



                <div class="carousel-inner" role="listbox">

                  <div class="carousel-item active">
                    <div class="col-12 mx-auto">
                      <div class="view rounded z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(150).jpg" class="img-fluid rounded" alt="Sample image">
                        <button class="btn"
                         data-toggle="modal" data-target="#exampleModalPreview">Edit</button>
                         <app-upload-pic></app-upload-pic>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-12 mx-auto">
                      <div class="view rounded z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(146).jpg" class="img-fluid rounded" alt="Sample image">
                        <button class="btn"
                        data-toggle="modal" data-target="#exampleModalPreview">Edit</button>
                        <app-upload-pic></app-upload-pic>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-12 mx-auto">
                      <div class="view rounded z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(138).jpg" class="img-fluid rounded" alt="Sample image">
                        <button class="btn"
                        data-toggle="modal" data-target="#exampleModalPreview">Edit</button>
                        <app-upload-pic></app-upload-pic>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-12  mx-auto">
                      <div class="view rounded z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(133).jpg" class="img-fluid rounded" alt="Sample image">
                        <button class="btn"
                        data-toggle="modal" data-target="#exampleModalPreview">Edit</button>
                        <app-upload-pic></app-upload-pic>
                      </div>
                    </div>
                  </div>


                </div>

              </div>

            </div>
          </div>

        </section>
        <!--Section: Content-->


      </div>
    </div>
  </div>
</div>
