<div class="container mt-1">


  <!--Section: Content-->
  <section class="mx-md-2 dark-grey-text">

  	<!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">
        <div *ngIf="event">
        <!-- Card -->
        <div class="card card-cascade wider reverse">

          <!-- Card image -->
          <div class="view view-cascade overlay">
            <div *ngIf="event.imageId">
            <img class="card-img-top" src="http://localhost:8080/files/{{event.imageId}}" alt=""
           style=" object-fit: cover;
           width: 100%;
           height: 337px;"
            >
          </div>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h3 class="font-weight-bold">
               <div *ngIf="event.nameEvent"> {{ event.nameEvent }} </div>
              </h3>
            <!-- Data -->
            <p>{{event.dateStart | date: 'dd/MM/yyyy'}} - {{event.dateEnd | date: 'dd/MM/yyyy'}}</p>


          </div>
          <!-- Card content -->

        </div>
        <!-- Card -->

        <div class="container-fluid pt-4">
	<div class="row mt-4">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
          <address>
         <strong>Price:                     </strong> <br>
         <strong>Avaible places:            </strong> {{event.numPlaces}} <br>
         <strong>Meeting place:             </strong> {{event.meetingPlace}} <br>
         <strong>Included in the price:     </strong> {{event.included}} <br>
         <strong>Not included in the price: </strong> {{event.notIncluded}} <br>

			</address>
				</div>
				<div class="col-md-6">
          <address>
         <strong>Schedule: </strong><br>
         {{event.schedule}}
			</address>
				</div>
			</div>
			<div class="row bg-light mt-4">
				<div class="col-md-10 pt-4">
          <p> {{event.description}}
          </p>
				</div>
				<div class="col-md-2">
          <br>
          <a class="btn btn-dark btn-md ml-0"
          routerLink="/data-check/{{id}}"
           role="button">Sign up!</a>
				</div>
			</div>
		</div>
	</div>
</div>

      </div>
      <!-- Grid column -->
      </div>
    </div>
    <!-- Grid row -->

    <hr class="mb-5 mt-4">

  </section>
  <!--Section: Content-->


</div>
