<div class="container mt-5">


  <!--Section: Content-->
  <section class="mx-md-3 dark-grey-text">

  	<!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">

        <!-- Card -->
        <div class="card card-cascade wider reverse">

          <!-- Card image -->
          <div class="view view-cascade overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/ecommerce4.jpg" alt="Sample image">

          </div>



          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h3 class="font-weight-bold"><a>Title of the news</a></h3>
            <!-- Data -->
            <p>Written by 26/08/2018</p>


          </div>
          <!-- Card content -->

        </div>
        <!-- Card -->

        <div class="container-fluid pt-4">
	<div class="row mt-4">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
          <address>
				 <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
				</div>
				<div class="col-md-6">
          <address>
				 <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
				</div>
			</div>
			<div class="row bg-light mt-4">
				<div class="col-md-10 pt-4">
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque
            corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
            sunt in culpa nemo enim ipsam voluptatem quia voluptas sit qui officia deserunt mollitia animi, id
            est laborum et dolorum fuga quidem rerum facilis est distinctio.
          </p>
				</div>
				<div class="col-md-2">
          <br>
          <a class="btn btn-dark btn-md ml-0" href="#" role="button">Sign up!</a>
				</div>
			</div>
		</div>
	</div>
</div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="mb-5 mt-4">

  </section>
  <!--Section: Content-->


</div>
