<br>
<h1 class="font-weight-bold text-center dark-grey-text pb-2 ">{{'Contact' | translate}}</h1>
  <hr class="w-header my-6">
  <p class="lead text-center text-muted pt-2 mb-2">{{'Contact lead' | translate}}</p>


<div class="container my-2 py-2">
  <!--Section: Content-->
  <section class="px-md-2 mx-md-2 text-center text-lg-left dark-grey-text">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="box-data col-md-6 mb-2 mb-md-0">
        <br>
        <strong> {{'Contact lead' | translate}}
          <br>
          {{'Opening hours' | translate}}: </strong> 10:00 - 15:00<br>

        <p class="text-muted">{{'Convinient entrance' | translate}} <br> </p>

        <p>{{'Also find us' | translate}}:</p>

        <p><strong>facebook:</strong> http//www.facebook.com//address </p>

        <p> <strong>whatsUpp:</strong> +43 332 222 333</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-2 mb-md-0">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://pbs.twimg.com/profile_images/1841204879/EDICIFIO_CAE_01.JPG" class="img-fluid"
            alt="edificio cae">

            <div class="mask rgba-white-light"></div>

        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>

<app-map-localize></app-map-localize>
