div.gallery {
  margin: 5px;
  border: 1px solid rgb(202, 202, 202);
  float: left;
  width: 32%;
  -ms-flex: 32%;
  flex: 32%;
  padding: 0 4px;
  height:25em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

body
{
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div.gallery:hover {
  border: 1px solid rgb(119, 119, 119);
}

div.gallery img {
  width: 100%;
  height: 250px;
  margin-top: 8px;
  vertical-align: middle;
}

div.desc {
  padding: 5px;
  text-align: center;
  color: rgb(85, 85, 85);
  text-decoration: solid;
  text-transform: uppercase;
  margin:0px;
  font-size:1.4em;
  font-weight:500;
}

div.date {
  padding: 5px;
  text-align: center;
  color: rgb(110, 110, 110);
  text-decoration: solid;
  font-size:12px;
}


div.grid {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

@media screen and (max-width: 800px) {
  .gallery {
    -ms-flex: 48%;
    flex: 48%;
    max-width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    -ms-flex: 97%;
    flex: 97%;
    max-width: 97%;
  }
}

.hr {
  height:1px;
  border-width:0;
  color:lightgray;
  background-color:gray
}
