<br>
<h1 class="font-weight-bold text-center dark-grey-text pb-2 ">Events</h1>
  <hr class="w-header my-6">
  <p class="lead text-center text-muted pt-2 mb-5">You can find all events in this section</p>
<br>


<div class="row-12 ml-3 pl-2 grid-pad">
  <a *ngFor="let event of events"
  routerLink="/event-detail/{{event.idEvent}}">
  <div class="gallery">
    <img src="http://localhost:8080/files/{{event.imageId}}">
    <hr>
    <div class="desc">{{event.nameEvent}}</div>
    <div class="date">{{event.dateStart | date: 'dd/MM/yyyy'}} - {{event.dateEnd | date: 'dd/MM/yyyy'}}</div>
</div>
