<!-- Full Page Intro -->
<section
  style="
    background-image: url('https://i.ibb.co/7nMFf1M/IMG-20200107-175634.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
  "
>
  <!-- Mask & flexbox options-->
  <div class="mask d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="container py-3 my-3">
      <h1 class="font-weight-bold text-center white-text pb-2">
        {{'Fill Your data' | translate}}
      </h1>

      <!--Grid row-->
      <div class="row d-flex align-items-center justify-content-center">
        <!--Grid column-->
        <div class="col-md-8 col-xl-5">
          <!--Form-->
          <div class="card">
            <div class="card-body z-depth-2 px-4">
              <form
              *ngIf="!isSuccessful"
                 name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
                <div class="form-group row">
                  <label for="name_input" class="col-4 col-form-label"
                    >{{'Name' | translate}}:</label
                  >
                  <div class="col-8">
                    <input
                      id="name_input"
                      name="name_input"
                      type="text"
                      required
                      minlength="2"
                      maxlength="20"
                      #nameUser="ngModel"
                      [(ngModel)]="form.nameUser"
                      class="form-control"
                      value="Name"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && nameUser.invalid">
                      <div *ngIf="nameUser.errors.required">{{'Name required' | translate}}</div>
                      <div *ngIf="nameUser.errors.minlength">
                        {{'Name least' | translate}}
                      </div>
                      <div *ngIf="nameUser.errors.maxlength">
                        {{'Name most' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="surname_input" class="col-4 col-form-label"
                    >{{'Surname' | translate}}:</label
                  >
                  <div class="col-8">
                    <input
                      id="surname_input"
                      name="surname_input"
                      type="text"
                      class="form-control"
                      required
                      minlength="2"
                      maxlength="30"
                      #surname="ngModel"
                      [(ngModel)]="form.surname"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && surname.invalid">
                      <div *ngIf="nameUser.errors.required">{{'Surname reqired' | translate}}</div>
                      <div *ngIf="nameUser.errors.minlength">
                        {{'Surname least' | translate}}
                      </div>
                      <div *ngIf="nameUser.errors.maxlength">
                        {{'Surname most' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="passport" class="col-4 col-form-label"
                    >{{'ID/ Passport' | translate}}:</label
                  >
                  <div class="col-8">
                    <input
                      id="passport"
                      name="passport"
                      type="text"
                      class="form-control"
                      required
                      [(ngModel)]="user.idPassport"
                      required
                      minlength="6"
                      maxlength="12"
                      #idPassport="ngModel"
                      [(ngModel)]="form.idPassport"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && idPassport.invalid">
                      <div *ngIf="idPassport.errors.required">{{'Id required' | translate}}</div>
                      <div *ngIf="idPassport.errors.minlength">
                        {{'Id least' | translate}}
                      </div>
                      <div *ngIf="nameUser.errors.maxlength">
                        {{'Id most' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="esnCard" class="col-4 col-form-label"
                    >{{'ESN card' | translate}}:</label
                  >
                  <div class="col-8">
                    <input
                      id="esnCard"
                      name="esnCard"
                      type="text"
                      class="form-control"
                      required
                      [(ngModel)]="user.cardNum"
                      minlength="11"
                      maxlength="11"
                      #cardNum="ngModel"
                      [(ngModel)]="form.cardNum"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && cardNum.invalid">
                      <div *ngIf="cardNum.errors.required">{{'ESN required' | translate}}</div>
                      <div *ngIf="cardNum.errors.minlength">
                        {{'ESN most' | translate}}
                      </div>
                      <div *ngIf="nameUser.errors.maxlength">
                        {{'ESN most' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4">{{'Gender' | translate}}:</label>
                  <div class="col-8">
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        name="gender_input"
                        id="gender_input_0"
                        type="radio"
                        class="custom-control-input"
                        value="female"
                        [(ngModel)]="form.sex"
                      />
                      <label for="gender_input_0" class="custom-control-label"
                        >{{'Female' | translate}}</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        name="gender_input"
                        id="gender_input_1"
                        type="radio"
                        class="custom-control-input"
                        value="male"
                        [(ngModel)]="form.sex"
                      />

                      <label for="gender_input_1" class="custom-control-label"
                        >{{'Male' | translate}}</label
                      >
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="phoneNum" class="col-4 col-form-label"
                    >{{'Phone number' | translate}}:</label
                  >
                  <div class="col-8">
                    <input
                      id="phoneNum"
                      name="phoneNum"
                      type="text"
                      class="form-control"
                      required
                      [(ngModel)]="form.phoneNum"
                      minlength="12"
                      maxlength="12"

                      #phoneNum="ngModel"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && phoneNum.invalid">
                      <div *ngIf="phoneNum.errors.required">{{'Phone required' | translate}}</div>
                      <div *ngIf="phoneNum.errors.minlength">
                        {{'Phone most' | translate}}
                      </div>
                      <div *ngIf="phoneNum.errors.maxlength">
                        {{'Phone most' | translate}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="country_input" class="col-4 col-form-label"
                    >{{'Country' | translate}}:</label
                  >
                  <div class="col-8">
                    <select
                      id="country"
                      name="country"
                      [(ngModel)]="idCountry"
                      class="form-control"
                    >
                      <option
                        *ngFor="let co of countries | async"
                        [value]="co.idNationality"
                      >
                        <div *ngIf="lang=='en'">{{ co.country }}</div>
                        <div *ngIf="lang=='es'">{{ co.countrySp }}</div>
                      </option>
                    </select>
                  </div>
                </div>

                <div class="text-center my-3">
                  <button class="btn btn-dark btn-block">{{'Send' | translate}}</button>
                </div>
              </form>
            </div>
          </div>
          <!--/.Form-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
  </div>
  <!-- Mask & flexbox options-->
</section>
<!-- Full Page Intro -->
